<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Components - Card</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/card.css" />
  </head>

  <body>
    <div style="width: 200px; padding: 16px;">
      <!-- CARD COMPONENT -->
      <div class="card">
        <div class="card-image">
          <img
            src="https://i.scdn.co/image/ab67616d0000b273fec5ef9f3133aff71c525acc"
          />
          <button class="round-button card-play-button">
            <svg height="16" width="16" viewBox="0 0 24 24">
              <polygon
                points="21.57 12 5.98 3 5.98 21 21.57 12"
                fill="currentColor"
              ></polygon>
            </svg>
          </button>
        </div>
        <a href="/">Therefore I am</a>
        <div>
          <time datetime="2020">Latest Release</time>
          <span class="bullet-separator">Single</span>
        </div>
      </div>
      <!-- END CARD COMPONENT -->
    </div>
  </body>
</html>
