<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Components - Card</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/card.css" />
  </head>

  <body>
    <div
      style="
        padding: 8px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        grid-gap: 24px;
      "
    >
      <!-- CARD COMPONENT -->
      <div class="card">
        <div class="card-image">
          <img
            src="https://i.scdn.co/image/ab67616d0000b273fec5ef9f3133aff71c525acc"
          />
          <button class="round-button card-play-button">
            <svg height="16" width="16" viewBox="0 0 24 24">
              <polygon
                points="21.57 12 5.98 3 5.98 21 21.57 12"
                fill="currentColor"
              ></polygon>
            </svg>
          </button>
        </div>
        <a href="/">Therefore I am</a>
        <div class="card-subtitle">
          <time datetime="2020">Latest Release</time>
          <span class="bullet-separator">Single</span>
        </div>
      </div>
      <!-- END CARD COMPONENT -->

      <div class="card">
        <div class="card-image">
          <img
            src="https://i.scdn.co/image/ab67706f00000002aa3a5186e0c569ed4b4da719"
          />
          <button class="round-button card-play-button">
            <svg height="16" width="16" viewBox="0 0 24 24">
              <polygon
                points="21.57 12 5.98 3 5.98 21 21.57 12"
                fill="currentColor"
              ></polygon>
            </svg>
          </button>
        </div>
        <a href="/">This Is Billie Eilish</a>
        <div class="card-subtitle">
          <span>Latest track "Therefore I Am" and other hits</span>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img
            src="https://seeded-session-images.scdn.co/v1/img/artist/6qqNVTkY8uBg9cP3Jd7DAH/en"
          />
          <button class="round-button card-play-button">
            <svg height="16" width="16" viewBox="0 0 24 24">
              <polygon
                points="21.57 12 5.98 3 5.98 21 21.57 12"
                fill="currentColor"
              ></polygon>
            </svg>
          </button>
        </div>
        <a href="/">Billie Eilish</a>
        <div class="card-subtitle">
          <span>By Spotify</span>
        </div>
      </div>

      <!-- Round version -->
      <div class="card">
        <div class="card-image card-image-round">
          <img
            class="card-image-round"
            src="https://i.scdn.co/image/d25fc756cd04c8b3ea196b7c07c6d057685cc405"
          />
          <button class="round-button card-play-button">
            <svg height="16" width="16" viewBox="0 0 24 24">
              <polygon
                points="21.57 12 5.98 3 5.98 21 21.57 12"
                fill="currentColor"
              ></polygon>
            </svg>
          </button>
        </div>
        <a href="/">Lord</a>
        <div class="card-subtitle">
          <span>Artist</span>
        </div>
      </div>
    </div>
  </body>
</html>
