<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Components - Card Grid</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/card.css" />
    <link rel="stylesheet" href="/stylesheets/card-grid.css" />
  </head>

  <body>
    <div style="padding: 16px 32px;">
      <!-- CARD GRID EXPANDED -->
      <div class="card-grid">
        <div class="card-grid-header">
          <div class="card-grid-titles">
            <h2 class="card-grid-title">
              Recently Played
            </h2>
          </div>
        </div>
        <div class="card-grid-container">
          <div class="card">
            <div class="card-image card-image-round">
              <img
                class="card-image-round"
                src="https://i.scdn.co/image/dc5dc72c6406b9460e07c036a1ff7f84cb61abd6"
              />
              <button class="round-button card-play-button">
                <svg height="16" width="16" viewBox="0 0 24 24">
                  <polygon
                    points="21.57 12 5.98 3 5.98 21 21.57 12"
                    fill="currentColor"
                  ></polygon>
                </svg>
              </button>
            </div>
            <a href="/">G-Eazy</a>
            <div class="card-subtitle">
              <span>Artist</span>
            </div>
          </div>

          <div class="card">
            <div class="card-image">
              <img
                src="https://newjams-images.scdn.co/v3/release-radar/33dfeea9cd00ab46a94a078c27e7a2a48fc51645/en/default"
              />
              <button class="round-button card-play-button">
                <svg height="16" width="16" viewBox="0 0 24 24">
                  <polygon
                    points="21.57 12 5.98 3 5.98 21 21.57 12"
                    fill="currentColor"
                  ></polygon>
                </svg>
              </button>
            </div>
            <a href="/">Release Radar</a>
            <div class="card-subtitle">
              <!-- <span>Catch all the latest music from artists you follow, plus new singles picked for you. Updates every Friday.</span> -->
              <span>Fix this</span>
            </div>
          </div>

          <div class="card">
            <div class="card-image card-image-round">
              <img
                class="card-image-round"
                src="https://i.scdn.co/image/dd8ceb41c23ec3352cfc19df178e7f243d6182e4"
              />
              <button class="round-button card-play-button">
                <svg height="16" width="16" viewBox="0 0 24 24">
                  <polygon
                    points="21.57 12 5.98 3 5.98 21 21.57 12"
                    fill="currentColor"
                  ></polygon>
                </svg>
              </button>
            </div>
            <a href="/">James Arthur</a>
            <div class="card-subtitle">
              <span>Artist</span>
            </div>
          </div>
          
          <div class="card">
            <div class="card-image card-image-round">
              <img
                class="card-image-round"
                src="https://i.scdn.co/image/29ba3b5c4870fcb845bfa74bc8f91fc6462759dc"
              />
              <button class="round-button card-play-button">
                <svg height="16" width="16" viewBox="0 0 24 24">
                  <polygon
                    points="21.57 12 5.98 3 5.98 21 21.57 12"
                    fill="currentColor"
                  ></polygon>
                </svg>
              </button>
            </div>
            <a href="/">Falco</a>
            <div class="card-subtitle">
              <span>Artist</span>
            </div>
          </div>

          <div class="card">
            <div class="card-image">
              <img
                src="https://i.scdn.co/image/ab67616d0000b2737047ba8d605041791305b38b"
              />
              <button class="round-button card-play-button">
                <svg height="16" width="16" viewBox="0 0 24 24">
                  <polygon
                    points="21.57 12 5.98 3 5.98 21 21.57 12"
                    fill="currentColor"
                  ></polygon>
                </svg>
              </button>
            </div>
            <a href="/">Minefields</a>
            <div class="card-subtitle">
              <span>Faouzia, John Legend</span>
            </div>
          </div>

          <div class="card">
            <div class="card-image">
              <img
                src="https://i.scdn.co/image/ab67616d0000b273fec5ef9f3133aff71c525acc"
              />
              <button class="round-button card-play-button">
                <svg height="16" width="16" viewBox="0 0 24 24">
                  <polygon
                    points="21.57 12 5.98 3 5.98 21 21.57 12"
                    fill="currentColor"
                  ></polygon>
                </svg>
              </button>
            </div>
            <a href="/">Therefore I am</a>
            <div class="card-subtitle">
              <span>Billie Eilish</span>
            </div>
          </div>

          <div class="card">
            <div class="card-image card-image-round">
              <img
                class="card-image-round"
                src="https://i.scdn.co/image/cf3aa3567c73ea2867d1e4027c29cf45926a72c6"
              />
              <button class="round-button card-play-button">
                <svg height="16" width="16" viewBox="0 0 24 24">
                  <polygon
                    points="21.57 12 5.98 3 5.98 21 21.57 12"
                    fill="currentColor"
                  ></polygon>
                </svg>
              </button>
            </div>
            <a href="/">Stormzy</a>
            <div class="card-subtitle">
              <span>Artist</span>
            </div>
          </div>

          <div class="card">
            <div class="card-image">
              <img
                src="https://daily-mix.scdn.co/covers/time-capsule/time-capsule-blue_DEFAULT-en.jpg"
              />
              <button class="round-button card-play-button">
                <svg height="16" width="16" viewBox="0 0 24 24">
                  <polygon
                    points="21.57 12 5.98 3 5.98 21 21.57 12"
                    fill="currentColor"
                  ></polygon>
                </svg>
              </button>
            </div>
            <a href="/">Time Capsule</a>
            <div class="card-subtitle">
              <span>We made you a playlist with songs to take you back in time.</span>
            </div>
          </div>

          <div class="card">
            <div class="card-image">
              <img
                src="https://i.scdn.co/image/ab67616d0000b273fec5ef9f3133aff71c525acc"
              />
              <button class="round-button card-play-button">
                <svg height="16" width="16" viewBox="0 0 24 24">
                  <polygon
                    points="21.57 12 5.98 3 5.98 21 21.57 12"
                    fill="currentColor"
                  ></polygon>
                </svg>
              </button>
            </div>
            <a href="/">Therefore I am</a>
            <div class="card-subtitle">
              <span>Billie Eilish</span>
            </div>
          </div>

          <div class="card">
            <div class="card-image card-image-round">
              <img
                class="card-image-round"
                src="https://i.scdn.co/image/29ba3b5c4870fcb845bfa74bc8f91fc6462759dc"
              />
              <button class="round-button card-play-button">
                <svg height="16" width="16" viewBox="0 0 24 24">
                  <polygon
                    points="21.57 12 5.98 3 5.98 21 21.57 12"
                    fill="currentColor"
                  ></polygon>
                </svg>
              </button>
            </div>
            <a href="/">Falco</a>
            <div class="card-subtitle">
              <span>Artist</span>
            </div>
          </div>

          <div class="card">
            <div class="card-image">
              <img
                src="https://i.scdn.co/image/ab67616d0000b2737047ba8d605041791305b38b"
              />
              <button class="round-button card-play-button">
                <svg height="16" width="16" viewBox="0 0 24 24">
                  <polygon
                    points="21.57 12 5.98 3 5.98 21 21.57 12"
                    fill="currentColor"
                  ></polygon>
                </svg>
              </button>
            </div>
            <a href="/">Minefields</a>
            <div class="card-subtitle">
              <span>Faouzia, John Legend</span>
            </div>
          </div>

          <div class="card">
            <div class="card-image">
              <img
                src="https://i.scdn.co/image/ab67616d0000b273fec5ef9f3133aff71c525acc"
              />
              <button class="round-button card-play-button">
                <svg height="16" width="16" viewBox="0 0 24 24">
                  <polygon
                    points="21.57 12 5.98 3 5.98 21 21.57 12"
                    fill="currentColor"
                  ></polygon>
                </svg>
              </button>
            </div>
            <a href="/">Therefore I am</a>
            <div class="card-subtitle">
              <span>Billie Eilish</span>
            </div>
          </div>

          <div class="card">
            <div class="card-image card-image-round">
              <img
                class="card-image-round"
                src="https://i.scdn.co/image/29ba3b5c4870fcb845bfa74bc8f91fc6462759dc"
              />
              <button class="round-button card-play-button">
                <svg height="16" width="16" viewBox="0 0 24 24">
                  <polygon
                    points="21.57 12 5.98 3 5.98 21 21.57 12"
                    fill="currentColor"
                  ></polygon>
                </svg>
              </button>
            </div>
            <a href="/">Falco</a>
            <div class="card-subtitle">
              <span>Artist</span>
            </div>
          </div>

          <div class="card">
            <div class="card-image">
              <img
                src="https://i.scdn.co/image/ab67616d0000b2737047ba8d605041791305b38b"
              />
              <button class="round-button card-play-button">
                <svg height="16" width="16" viewBox="0 0 24 24">
                  <polygon
                    points="21.57 12 5.98 3 5.98 21 21.57 12"
                    fill="currentColor"
                  ></polygon>
                </svg>
              </button>
            </div>
            <a href="/">Minefields</a>
            <div class="card-subtitle">
              <span>Faouzia, John Legend</span>
            </div>
          </div>

          <div class="card">
            <div class="card-image">
              <img
                src="https://i.scdn.co/image/ab67616d0000b273fec5ef9f3133aff71c525acc"
              />
              <button class="round-button card-play-button">
                <svg height="16" width="16" viewBox="0 0 24 24">
                  <polygon
                    points="21.57 12 5.98 3 5.98 21 21.57 12"
                    fill="currentColor"
                  ></polygon>
                </svg>
              </button>
            </div>
            <a href="/">Therefore I am</a>
            <div class="card-subtitle">
              <span>Billie Eilish</span>
            </div>
          </div>
        </div>
      <!-- END CARD GRID EXPANDED -->
    </div>
  </body>
</html>
