<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Components - Card Grid</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/card.css" />
    <link rel="stylesheet" href="/stylesheets/card-grid.css" />
  </head>

  <body>
    <div style="padding: 16px 32px;">
      <!-- CARD GRID COLLAPSED -->
      <div class="card-grid">
        <div class="card-grid-header">
          <div class="card-grid-titles">
            <h2 class="card-grid-title">
              <a href="/">Recently Played</a>
            </h2>
          </div>
          <a class="card-grid-see-all" href="/">See all</a>
        </div>
        <div class="card-grid-container">
          <div class="card">
            <div class="card-image card-image-round">
              <img
                class="card-image-round"
                src="https://i.scdn.co/image/29ba3b5c4870fcb845bfa74bc8f91fc6462759dc"
              />
              <button class="round-button card-play-button">
                <svg height="16" width="16" viewBox="0 0 24 24">
                  <polygon
                    points="21.57 12 5.98 3 5.98 21 21.57 12"
                    fill="currentColor"
                  ></polygon>
                </svg>
              </button>
            </div>
            <a href="/">Falco</a>
            <div class="card-subtitle">
              <span>Artist</span>
            </div>
          </div>

          <div class="card">
            <div class="card-image">
              <img
                src="https://i.scdn.co/image/ab67616d0000b2737047ba8d605041791305b38b"
              />
              <button class="round-button card-play-button">
                <svg height="16" width="16" viewBox="0 0 24 24">
                  <polygon
                    points="21.57 12 5.98 3 5.98 21 21.57 12"
                    fill="currentColor"
                  ></polygon>
                </svg>
              </button>
            </div>
            <a href="/">Minefields</a>
            <div class="card-subtitle">
              <span>Faouzia, John Legend</span>
            </div>
          </div>

          <div class="card">
            <div class="card-image">
              <img
                src="https://i.scdn.co/image/ab67616d0000b273fec5ef9f3133aff71c525acc"
              />
              <button class="round-button card-play-button">
                <svg height="16" width="16" viewBox="0 0 24 24">
                  <polygon
                    points="21.57 12 5.98 3 5.98 21 21.57 12"
                    fill="currentColor"
                  ></polygon>
                </svg>
              </button>
            </div>
            <a href="/">Therefore I am</a>
            <div class="card-subtitle">
              <span>Billie Eilish</span>
            </div>
          </div>
        </div>
      </div>
      <!-- END -->
      <hr style="margin: 16px;" />

      <!-- CARD GRID COLLAPSED EXAMPLE 2 -->
      <div class="card-grid">
        <div class="card-grid-header">
          <div class="card-grid-titles">
            <h2 class="card-grid-title">
              <a href="/">Suggested artists</a>
            </h2>
            <span class="card-grid-subtitle"
              >Inspired by your recent activity.</span
            >
          </div>
          <a class="card-grid-see-all" href="/">See all</a>
        </div>
        <div class="card-grid-container">
          <div class="card">
            <div class="card-image card-image-round">
              <img
                class="card-image-round"
                src="https://i.scdn.co/image/38c4d40a0baf5c1a31bb5b09ac07a32d5d11d7e0"
              />
              <button class="round-button card-play-button">
                <svg height="16" width="16" viewBox="0 0 24 24">
                  <polygon
                    points="21.57 12 5.98 3 5.98 21 21.57 12"
                    fill="currentColor"
                  ></polygon>
                </svg>
              </button>
            </div>
            <a href="/">Ty Dolla $ign</a>
            <div class="card-subtitle">
              <span>Artist</span>
            </div>
          </div>

          <div class="card">
            <div class="card-image card-image-round">
              <img
                class="card-image-round"
                src="https://i.scdn.co/image/8f0a45ff4868c7868a7996b57da64f2e89042e26"
              />
              <button class="round-button card-play-button">
                <svg height="16" width="16" viewBox="0 0 24 24">
                  <polygon
                    points="21.57 12 5.98 3 5.98 21 21.57 12"
                    fill="currentColor"
                  ></polygon>
                </svg>
              </button>
            </div>
            <a href="/">Pop Smoke</a>
            <div class="card-subtitle">
              <span>Artist</span>
            </div>
          </div>

          <div class="card">
            <div class="card-image card-image-round">
              <img
                class="card-image-round"
                src="https://i.scdn.co/image/faee4f49e912cfac5d3d8db1aa950182881d71b4"
              />
              <button class="round-button card-play-button">
                <svg height="16" width="16" viewBox="0 0 24 24">
                  <polygon
                    points="21.57 12 5.98 3 5.98 21 21.57 12"
                    fill="currentColor"
                  ></polygon>
                </svg>
              </button>
            </div>
            <a href="/">Swae Lee</a>
            <div class="card-subtitle">
              <span>Artist</span>
            </div>
          </div>

          <div class="card">
            <div class="card-image card-image-round">
              <img
                class="card-image-round"
                src="https://i.scdn.co/image/797276c2f8da713f0534e012de4d144f338e1664"
              />
              <button class="round-button card-play-button">
                <svg height="16" width="16" viewBox="0 0 24 24">
                  <polygon
                    points="21.57 12 5.98 3 5.98 21 21.57 12"
                    fill="currentColor"
                  ></polygon>
                </svg>
              </button>
            </div>
            <a href="/">PARTYNEXTDOOR</a>
            <div class="card-subtitle">
              <span>Artist</span>
            </div>
          </div>

          <div class="card">
            <div class="card-image card-image-round">
              <img
                class="card-image-round"
                src="https://i.scdn.co/image/05da6a798c59e8ab7102d77c8deb79d67a1360ed"
              />
              <button class="round-button card-play-button">
                <svg height="16" width="16" viewBox="0 0 24 24">
                  <polygon
                    points="21.57 12 5.98 3 5.98 21 21.57 12"
                    fill="currentColor"
                  ></polygon>
                </svg>
              </button>
            </div>
            <a href="/">Khalid</a>
            <div class="card-subtitle">
              <span>Artist</span>
            </div>
          </div>
        </div>
      </div>
      <!-- END EXAMPLE 2  -->
    </div>
  </body>
</html>
