<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Typography</title>
    <link rel="stylesheet" href="/stylesheets/fonts.css" />
    <link rel="stylesheet" href="/stylesheets/typography.css" />
  </head>

  <body>
    <h1 class="heading-2xl">h1. Heading (2xl)</h1>

    <h2 class="heading-xl">h2. Heading (xl)</h2>

    <h3 class="heading-lg">h3. Heading (lg)</h2>

    <h4 class="heading-base">h4. Heading (base)</h4>

    <h5 class="heading-sm">h5. Heading (sm)</h5>
    
    <p class="title1">title1</p>
    <p class="title2">title2</p>

    <p class="subtitle1">subtitle1</p>
    <p class="subtitle2">subtitle2</p>

    <span class="capitalized">Capitalized</span>
    <br />
    <span class="capitalized-bold">Capitalized (bold)</span>
    <br />
    <br />

    <span>Body - Track title</span>
    <p>Body - Search for Artists, Songs, or Podcasts</p>
  </body>
</html>
