<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Components - Album Card</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/utilities.css" />
    <link rel="stylesheet" href="/stylesheets/card.css" />
    <link rel="stylesheet" href="/stylesheets/button.css" />
  </head>

  <body>
    <div
      style="
        padding: 8px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        grid-gap: 24px;
      "
    >
      <!-- Album Card -->
      <!-- In A Tidal Wave Of Mystery (Deluxe) - Capital Cities -->
      <div class="card">
        <a class="card__link" href="/pages/album.html"></a>
        <div class="card__content">
          <div class="card__image-wrapper">
            <img
              class="card__image"
              src="https://i.scdn.co/image/ab67616d0000b27386266e425c9b784f645b4bd3"
            />
            <div class="card__button-wrapper">
              <button
                class="card__button center button--small button--round button--green"
              >
                <svg height="16" width="16" viewBox="0 0 24 24">
                  <polygon
                    points="21.57 12 5.98 3 5.98 21 21.57 12"
                    fill="currentColor"
                  ></polygon>
                </svg>
              </button>
            </div>
          </div>
          <h3 class="card__title">In A Tidal Wave Of Mystery (Deluxe)</h3>
          <div class="card__subtitle">
            <span>Capital Cities</span>
          </div>
        </div>
      </div>
      <!-- End In A Tidal Wave Of Mystery (Deluxe) - Capital Cities -->

      <!-- Falco III - Falco -->
      <div class="card">
        <a class="card__link" href="/pages/album.html"></a>
        <div class="card__content">
          <div class="card__image-wrapper">
            <img
              class="card__image"
              src="https://i.scdn.co/image/ab67616d0000b2739ac5acc402ac5dccdfefa827"
            />
            <div class="card__button-wrapper">
              <button
                class="card__button center button--small button--round button--green"
              >
                <svg height="16" width="16" viewBox="0 0 24 24">
                  <polygon
                    points="21.57 12 5.98 3 5.98 21 21.57 12"
                    fill="currentColor"
                  ></polygon>
                </svg>
              </button>
            </div>
          </div>
          <h3 class="card__title">Falco III</h3>
          <div class="card__subtitle"><span>1985</span><span>Album</span></div>
        </div>
      </div>
      <!-- End Falco III - Falco -->

      <!-- Shawn Mendes (Deluxe) - Shawn Mendes -->
      <div class="card">
        <a class="card__link" href="/pages/album.html"></a>
        <div class="card__content">
          <div class="card__image-wrapper">
            <img
              class="card__image"
              src="https://i.scdn.co/image/ab67616d0000b273c820f033bd82bef4355d1563"
            />
            <div class="card__button-wrapper">
              <button
                class="card__button center button--small button--round button--green"
              >
                <svg height="16" width="16" viewBox="0 0 24 24">
                  <polygon
                    points="21.57 12 5.98 3 5.98 21 21.57 12"
                    fill="currentColor"
                  ></polygon>
                </svg>
              </button>
            </div>
          </div>
          <h3 class="card__title">Shawn Mendes (Deluxe)</h3>
          <div class="card__subtitle"><span>2019</span></div>
        </div>
      </div>
      <!-- End Shawn Mendes (Deluxe) - Shawn Mendes -->

      <!-- Song Card -->
      <!-- Minefields - Faouzia, John Legend -->
      <div class="card">
        <a class="card__link" href="/pages/album.html"></a>
        <div class="card__content">
          <div class="card__image-wrapper">
            <img
              class="card__image"
              src="https://i.scdn.co/image/ab67616d0000b2737047ba8d605041791305b38b"
            />
            <div class="card__button-wrapper">
              <button
                class="card__button center button--small button--round button--green"
              >
                <svg height="16" width="16" viewBox="0 0 24 24">
                  <polygon
                    points="21.57 12 5.98 3 5.98 21 21.57 12"
                    fill="currentColor"
                  ></polygon>
                </svg>
              </button>
            </div>
          </div>
          <h3 class="card__title">Minefields</h3>
          <div class="card__subtitle">
            <a href="/artist" class="card__subtitle-link">Faouzia</a>,
            <a href="/artist" class="card__subtitle-link">John Legend</a>
          </div>
        </div>
      </div>
      <!-- End Minefields - Faouzia, John Legend -->
    </div>
  </body>
</html>
