<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Components - Playlist Card</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/utilities.css" />
    <link rel="stylesheet" href="/stylesheets/card.css" />
    <link rel="stylesheet" href="/stylesheets/button.css" />
  </head>

  <body>
    <div
      style="
        padding: 8px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        grid-gap: 24px;
      "
    >
      <!-- Playlist Card -->
      <!-- Billie Eilish Radio -->
      <div class="card">
        <div class="card__image-wrapper">
          <img
            class="card__image"
            src="https://seeded-session-images.scdn.co/v1/img/artist/6qqNVTkY8uBg9cP3Jd7DAH/en"
          />
          <div class="card__button-wrapper">
            <button
              class="card__button center button--small button--round button--green"
            >
              <svg height="16" width="16" viewBox="0 0 24 24">
                <polygon
                  points="21.57 12 5.98 3 5.98 21 21.57 12"
                  fill="currentColor"
                ></polygon>
              </svg>
            </button>
          </div>
        </div>
        <h3 class="card__title">Billie Eilish</h3>
        <div class="card__subtitle">
          <span>By Spotify</span>
        </div>
      </div>
      <!-- End Billie Eilish Radio -->

      <!-- Hip-Hop Anthems Playlist -->
      <div class="card">
        <div class="card__image-wrapper">
          <img
            class="card__image"
            src="https://i.scdn.co/image/ab67706f0000000216249686cdd32dc3aea15203"
          />
          <div class="card__button-wrapper">
            <button
              class="card__button center button--small button--round button--green"
            >
              <svg height="16" width="16" viewBox="0 0 24 24">
                <polygon
                  points="21.57 12 5.98 3 5.98 21 21.57 12"
                  fill="currentColor"
                ></polygon>
              </svg>
            </button>
          </div>
        </div>
        <h3 class="card__title">Hip-Hop Anthems: Def Jam</h3>
        <div class="card__subtitle">
          <span
            >An homage to the iconic label’s 1980s and ’90s roots featuring
            legends like Jay-Z, LL Cool J, Public Enemy, Slick Rick and The
            Beastie Boys</span
          >
        </div>
      </div>
      <!-- End Hip-Hop Anthems Playlist -->
    </div>
  </body>
</html>
