<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Spotify</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/table.css" />
  </head>
  <body>
    <table class="playlist-tracks">
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Album</th>
        <th>Date added</th>
        <th>
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none">
            <title>duration</title>
            <path
              d="M7.999 3H6.999V7V8H7.999H9.999V7H7.999V3ZM7.5 0C3.358 0 0 3.358 0 7.5C0 11.642 3.358 15 7.5 15C11.642 15 15 11.642 15 7.5C15 3.358 11.642 0 7.5 0ZM7.5 14C3.916 14 1 11.084 1 7.5C1 3.916 3.916 1 7.5 1C11.084 1 14 3.916 14 7.5C14 11.084 11.084 14 7.5 14Z"
              fill="currentColor"
            ></path>
          </svg>
        </th>
      </tr>
      <tr class="playlist-tracks-border">
        <td colspan="5"></td>
      </tr>
      <tr class="playlist-tracks-border-spacing">
        <!-- td is required so we can apply padding -->
        <td></td>
      </tr>
      <tr>
        <td class="track-number">
          <span>1</span>
          <svg height="16" role="img" width="16" viewBox="0 0 24 24">
            <polygon
              points="21.57 12 5.98 3 5.98 21 21.57 12"
              fill="currentColor"
            ></polygon>
          </svg>
        </td>
        <td>
          <div class="playlist-track-title">
            <img
              width="40"
              height="40"
              src="https://i.scdn.co/image/ab67616d0000485118f6301030fcb2e5199cdd51"
            />
            <div class="playlist-track-title-details">
              <span>Faded Love (feat. Future)</span>
              <div>
                <a href="/artist.html">Tinashe</a>
                <a href="/artist.html">Future</a>
              </div>
            </div>
          </div>
        </td>
        <td><a href="/album.html">Joyride</a></td>
        <td>10 hours ago</td>
        <td class="track-length">
          <span>3:23</span>
          <svg role="img" height="16" width="16" viewBox="0 0 16 16">
            <path
              d="M2 6.5a1.5 1.5 0 10-.001 2.999A1.5 1.5 0 002 6.5zm6 0a1.5 1.5 0 100 3 1.5 1.5 0 000-3zm6 0a1.5 1.5 0 10-.001 2.999A1.5 1.5 0 0014 6.5z"
              fill="currentColor"
            ></path>
          </svg>
        </td>
      </tr>
      <tr>
        <td class="track-number">
          <span>2</span>
          <svg height="16" role="img" width="16" viewBox="0 0 24 24">
            <polygon
              points="21.57 12 5.98 3 5.98 21 21.57 12"
              fill="currentColor"
            ></polygon>
          </svg>
        </td>
        <td>
          <div class="playlist-track-title">
            <img
              width="40"
              height="40"
              src="https://i.scdn.co/image/ab67616d0000485172034fda0b6073023b967817"
            />
            <div class="playlist-track-title-details">
              <span>Reverse (feat. G-Eazy)</span>
              <div>
                <a href="/artist.html">VIC MENSA</a>
                <a href="/artist.html">G-Eazy</a>
              </div>
            </div>
          </div>
        </td>
        <td><a href="/album.html">HOOLIGANS</a></td>
        <td>3 days ago</td>
        <td class="track-length">
          <span>3:31</span>
          <svg role="img" height="16" width="16" viewBox="0 0 16 16">
            <path
              d="M2 6.5a1.5 1.5 0 10-.001 2.999A1.5 1.5 0 002 6.5zm6 0a1.5 1.5 0 100 3 1.5 1.5 0 000-3zm6 0a1.5 1.5 0 10-.001 2.999A1.5 1.5 0 0014 6.5z"
              fill="currentColor"
            ></path>
          </svg>
        </td>
      </tr>
      <tr>
        <td class="track-number">
          <span>3</span>
          <svg height="16" role="img" width="16" viewBox="0 0 24 24">
            <polygon
              points="21.57 12 5.98 3 5.98 21 21.57 12"
              fill="currentColor"
            ></polygon>
          </svg>
        </td>
        <td>
          <div class="playlist-track-title">
            <img
              width="40"
              height="40"
              src="https://i.scdn.co/image/ab67616d0000485171503a8b2a807d50889cd336"
            />
            <div class="playlist-track-title-details">
              <span>Reverse (feat. G-Eazy)</span>
              <div>
                <a href="/artist.html">bnkr44</a>
                <a href="/artist.html">Erin</a>
                <a href="/artist.html">Piccolo</a>
                <a href="/artist.html">JXN</a>
              </div>
            </div>
          </div>
        </td>
        <td><a href="/album.html">44.DELUXE</a></td>
        <td>11 days ago</td>
        <td class="track-length">
          <span>3:15</span>
          <svg role="img" height="16" width="16" viewBox="0 0 16 16">
            <path
              d="M2 6.5a1.5 1.5 0 10-.001 2.999A1.5 1.5 0 002 6.5zm6 0a1.5 1.5 0 100 3 1.5 1.5 0 000-3zm6 0a1.5 1.5 0 10-.001 2.999A1.5 1.5 0 0014 6.5z"
              fill="currentColor"
            ></path>
          </svg>
        </td>
      </tr>
    </table>
  </body>
</html>
