<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Spotify</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/table-heading.css" />
    <link rel="stylesheet" href="/stylesheets/table-custom.css" />
  </head>
  <body>
    <div style="padding: 16px;">
      <h2>/collection/tracks, /playlist/:id</h2>
      <br />
      <div id="table-heading" class="table-heading table-heading--sticky">
        <span class="table-heading__number">#</span>
        <span class="table-heading__title">Title</span>
        <span class="table-heading__album">Album</span>
        <span class="table-heading__date-added">Date added</span>
        <span class="table-heading__duration">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none">
            <title>duration</title>
            <path
              d="M7.999 3H6.999V7V8H7.999H9.999V7H7.999V3ZM7.5 0C3.358 0 0 3.358 0 7.5C0 11.642 3.358 15 7.5 15C11.642 15 15 11.642 15 7.5C15 3.358 11.642 0 7.5 0ZM7.5 14C3.916 14 1 11.084 1 7.5C1 3.916 3.916 1 7.5 1C11.084 1 14 3.916 14 7.5C14 11.084 11.084 14 7.5 14Z"
              fill="currentColor"
            ></path></svg
        ></span>
      </div>
      <div class="track" tabindex="0">
        <!-- # -->
        <div class="track__number">
          <span class="track__disc-number">1</span>
          <button class="track__btn track__btn--play">
            <svg height="16" width="16" viewBox="0 0 24 24">
              <polygon
                points="21.57 12 5.98 3 5.98 21 21.57 12"
                fill="currentColor"
              ></polygon>
            </svg>
          </button>
        </div>

        <!-- Title -->
        <div class="track__title">
          <img
            class="track__cover"
            src="https://i.scdn.co/image/ab67616d000048513f911caa42c2ef00253efb70"
            alt=""
            width="40"
            height="40"
          />
          <div class="track__wrapper">
            <span class="track__name">Name</span>
            <ul class="track__artists">
              <li class="track__artist">
                <a class="track__link" href="/artist.html">Artist 1</a>
              </li>
              <li class="track__artist">
                <a class="track__link" href="/artist.html">Artist 2</a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Album -->
        <div class="track__album">
          <a class="track__link" href="/album.html">Album</a>
        </div>

        <!-- Date added -->
        <div class="track__date-added">
          <span>Date added</span>
        </div>

        <!-- Like button -->
        <!-- Duration -->
        <!-- More -->
        <div class="track__duration">
          <button class="track__btn track__btn--like">
            <svg role="img" height="16" width="16" viewBox="0 0 16 16">
              <path
                d="M13.764 2.727a4.057 4.057 0 00-5.488-.253.558.558 0 01-.31.112.531.531 0 01-.311-.112 4.054 4.054 0 00-5.487.253A4.05 4.05 0 00.974 5.61c0 1.089.424 2.113 1.168 2.855l4.462 5.223a1.791 1.791 0 002.726 0l4.435-5.195A4.052 4.052 0 0014.96 5.61a4.057 4.057 0 00-1.196-2.883zm-.722 5.098L8.58 13.048c-.307.36-.921.36-1.228 0L2.864 7.797a3.072 3.072 0 01-.905-2.187c0-.826.321-1.603.905-2.187a3.091 3.091 0 012.191-.913 3.05 3.05 0 011.957.709c.041.036.408.351.954.351.531 0 .906-.31.94-.34a3.075 3.075 0 014.161.192 3.1 3.1 0 01-.025 4.403z"
                fill="currentColor"
              ></path>
            </svg>
          </button>
          <span>Duration</span>
          <button class="track__btn">
            <svg height="16" width="16" viewBox="0 0 16 16">
              <path
                d="M2 6.5a1.5 1.5 0 10-.001 2.999A1.5 1.5 0 002 6.5zm6 0a1.5 1.5 0 100 3 1.5 1.5 0 000-3zm6 0a1.5 1.5 0 10-.001 2.999A1.5 1.5 0 0014 6.5z"
                fill="currentColor"
              ></path>
            </svg>
          </button>
        </div>
      </div>

      <br />
      <!-- /queue - remove date added column -->
      <h2>/queue</h2>
      <br />
      <div class="track" tabindex="0">
        <!-- # -->
        <div class="track__number">
          <span class="track__disc-number">1</span>
          <button class="track__btn track__btn--play">
            <svg height="16" width="16" viewBox="0 0 24 24">
              <polygon
                points="21.57 12 5.98 3 5.98 21 21.57 12"
                fill="currentColor"
              ></polygon>
            </svg>
          </button>
        </div>

        <!-- Title -->
        <div class="track__title track__title--small">
          <img
            class="track__cover"
            src="https://i.scdn.co/image/ab67616d000048513f911caa42c2ef00253efb70"
            alt=""
            width="40"
            height="40"
          />
          <div>
            <span class="track__name">Name</span>
            <ul class="track__artists">
              <li class="track__artist">
                <a class="track__link" href="/artist.html">Artist 1</a>
              </li>
              <li class="track__artist">
                <a class="track__link" href="/artist.html">Artist 2</a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Album -->
        <div class="track__album track__album--small">
          <a class="track__link" href="/album.html">Album</a>
        </div>

        <!-- Like button -->
        <!-- Duration -->
        <!-- More -->
        <div class="track__duration">
          <button class="track__btn track__btn--like">
            <svg role="img" height="16" width="16" viewBox="0 0 16 16">
              <path
                d="M13.764 2.727a4.057 4.057 0 00-5.488-.253.558.558 0 01-.31.112.531.531 0 01-.311-.112 4.054 4.054 0 00-5.487.253A4.05 4.05 0 00.974 5.61c0 1.089.424 2.113 1.168 2.855l4.462 5.223a1.791 1.791 0 002.726 0l4.435-5.195A4.052 4.052 0 0014.96 5.61a4.057 4.057 0 00-1.196-2.883zm-.722 5.098L8.58 13.048c-.307.36-.921.36-1.228 0L2.864 7.797a3.072 3.072 0 01-.905-2.187c0-.826.321-1.603.905-2.187a3.091 3.091 0 012.191-.913 3.05 3.05 0 011.957.709c.041.036.408.351.954.351.531 0 .906-.31.94-.34a3.075 3.075 0 014.161.192 3.1 3.1 0 01-.025 4.403z"
                fill="currentColor"
              ></path>
            </svg>
          </button>
          <span>Duration</span>
          <button class="track__btn">
            <svg height="16" width="16" viewBox="0 0 16 16">
              <path
                d="M2 6.5a1.5 1.5 0 10-.001 2.999A1.5 1.5 0 002 6.5zm6 0a1.5 1.5 0 100 3 1.5 1.5 0 000-3zm6 0a1.5 1.5 0 10-.001 2.999A1.5 1.5 0 0014 6.5z"
                fill="currentColor"
              ></path>
            </svg>
          </button>
        </div>
      </div>

      <br />
      <!-- /artist:/id - remove date added column and anchor tag in album column -->
      <h2>/artist/:id</h2>
      <br />
      <div class="track" tabindex="0">
        <!-- # -->
        <div class="track__number">
          <span class="track__disc-number">1</span>
          <button class="track__btn track__btn--play">
            <svg height="16" width="16" viewBox="0 0 24 24">
              <polygon
                points="21.57 12 5.98 3 5.98 21 21.57 12"
                fill="currentColor"
              ></polygon>
            </svg>
          </button>
        </div>

        <!-- Title -->
        <div class="track__title track__title--small">
          <img
            class="track__cover"
            src="https://i.scdn.co/image/ab67616d000048513f911caa42c2ef00253efb70"
            alt=""
            width="40"
            height="40"
          />
          <div class="track__wrapper">
            <span class="track__name">Name</span>
            <!-- <ul class="track__artists">
              <li class="track__artist">
                <a class="track__link" href="/artist.html">Artist 1</a>
              </li>
              <li class="track__artist">
                <a class="track__link" href="/artist.html">Artist 2</a>
              </li>
            </ul> -->
          </div>
        </div>

        <!-- Number plays -->
        <div class="track__album track__album--small">
          52,923,964
        </div>

        <!-- Like button -->
        <!-- Duration -->
        <!-- More -->
        <div class="track__duration">
          <button class="track__btn track__btn--like">
            <svg role="img" height="16" width="16" viewBox="0 0 16 16">
              <path
                d="M13.764 2.727a4.057 4.057 0 00-5.488-.253.558.558 0 01-.31.112.531.531 0 01-.311-.112 4.054 4.054 0 00-5.487.253A4.05 4.05 0 00.974 5.61c0 1.089.424 2.113 1.168 2.855l4.462 5.223a1.791 1.791 0 002.726 0l4.435-5.195A4.052 4.052 0 0014.96 5.61a4.057 4.057 0 00-1.196-2.883zm-.722 5.098L8.58 13.048c-.307.36-.921.36-1.228 0L2.864 7.797a3.072 3.072 0 01-.905-2.187c0-.826.321-1.603.905-2.187a3.091 3.091 0 012.191-.913 3.05 3.05 0 011.957.709c.041.036.408.351.954.351.531 0 .906-.31.94-.34a3.075 3.075 0 014.161.192 3.1 3.1 0 01-.025 4.403z"
                fill="currentColor"
              ></path>
            </svg>
          </button>
          <span>Duration</span>
          <button class="track__btn">
            <svg height="16" width="16" viewBox="0 0 16 16">
              <path
                d="M2 6.5a1.5 1.5 0 10-.001 2.999A1.5 1.5 0 002 6.5zm6 0a1.5 1.5 0 100 3 1.5 1.5 0 000-3zm6 0a1.5 1.5 0 10-.001 2.999A1.5 1.5 0 0014 6.5z"
                fill="currentColor"
              ></path>
            </svg>
          </button>
        </div>
      </div>

      <br />
      <!-- /album:/id - remove album column -->
      <h2>/album/:id</h2>
      <br />
      <div class="track" tabindex="0">
        <!-- # -->
        <div class="track__number">
          <span class="track__disc-number">1</span>
          <button class="track__btn track__btn--play">
            <svg height="16" width="16" viewBox="0 0 24 24">
              <polygon
                points="21.57 12 5.98 3 5.98 21 21.57 12"
                fill="currentColor"
              ></polygon>
            </svg>
          </button>
        </div>

        <!-- Title -->
        <div class="track__title track__title--small">
          <img
            class="track__cover"
            src="https://i.scdn.co/image/ab67616d000048513f911caa42c2ef00253efb70"
            alt=""
            width="40"
            height="40"
          />
          <div class="track__wrapper">
            <span class="track__name">Name</span>
            <ul class="track__artists">
              <li class="track__artist">
                <a class="track__link" href="/artist.html">Artist 1</a>
              </li>
              <li class="track__artist">
                <a class="track__link" href="/artist.html">Artist 2</a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Like button -->
        <!-- Duration -->
        <!-- More -->
        <div class="track__duration">
          <button class="track__btn track__btn--like">
            <svg role="img" height="16" width="16" viewBox="0 0 16 16">
              <path
                d="M13.764 2.727a4.057 4.057 0 00-5.488-.253.558.558 0 01-.31.112.531.531 0 01-.311-.112 4.054 4.054 0 00-5.487.253A4.05 4.05 0 00.974 5.61c0 1.089.424 2.113 1.168 2.855l4.462 5.223a1.791 1.791 0 002.726 0l4.435-5.195A4.052 4.052 0 0014.96 5.61a4.057 4.057 0 00-1.196-2.883zm-.722 5.098L8.58 13.048c-.307.36-.921.36-1.228 0L2.864 7.797a3.072 3.072 0 01-.905-2.187c0-.826.321-1.603.905-2.187a3.091 3.091 0 012.191-.913 3.05 3.05 0 011.957.709c.041.036.408.351.954.351.531 0 .906-.31.94-.34a3.075 3.075 0 014.161.192 3.1 3.1 0 01-.025 4.403z"
                fill="currentColor"
              ></path>
            </svg>
          </button>
          <span>Duration</span>
          <button class="track__btn">
            <svg height="16" width="16" viewBox="0 0 16 16">
              <path
                d="M2 6.5a1.5 1.5 0 10-.001 2.999A1.5 1.5 0 002 6.5zm6 0a1.5 1.5 0 100 3 1.5 1.5 0 000-3zm6 0a1.5 1.5 0 10-.001 2.999A1.5 1.5 0 0014 6.5z"
                fill="currentColor"
              ></path>
            </svg>
          </button>
        </div>
      </div>

      <br />
      <!-- /search:/id - remove 16px column, merge it with title column -->
      <h2>/search/:id</h2>
      <br />
      <div class="track" tabindex="0">
        <!-- Title -->
        <div class="track__title track__title--small">
          <img
            class="track__cover"
            src="https://i.scdn.co/image/ab67616d000048513f911caa42c2ef00253efb70"
            alt=""
            width="40"
            height="40"
          /><button class="track__btn track__btn--play track__btn--search-page">
            <svg height="16" width="16" viewBox="0 0 24 24">
              <polygon
                points="21.57 12 5.98 3 5.98 21 21.57 12"
                fill="currentColor"
              ></polygon>
            </svg>
          </button>
          <div class="track__wrapper">
            <span class="track__name">Name</span>
            <ul class="track__artists">
              <li class="track__artist">
                <a class="track__link" href="/artist.html">Artist 1</a>
              </li>
              <li class="track__artist">
                <a class="track__link" href="/artist.html">Artist 2</a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Like button -->
        <!-- Duration -->
        <!-- More -->
        <div class="track__duration">
          <button class="track__btn track__btn--like">
            <svg role="img" height="16" width="16" viewBox="0 0 16 16">
              <path
                d="M13.764 2.727a4.057 4.057 0 00-5.488-.253.558.558 0 01-.31.112.531.531 0 01-.311-.112 4.054 4.054 0 00-5.487.253A4.05 4.05 0 00.974 5.61c0 1.089.424 2.113 1.168 2.855l4.462 5.223a1.791 1.791 0 002.726 0l4.435-5.195A4.052 4.052 0 0014.96 5.61a4.057 4.057 0 00-1.196-2.883zm-.722 5.098L8.58 13.048c-.307.36-.921.36-1.228 0L2.864 7.797a3.072 3.072 0 01-.905-2.187c0-.826.321-1.603.905-2.187a3.091 3.091 0 012.191-.913 3.05 3.05 0 011.957.709c.041.036.408.351.954.351.531 0 .906-.31.94-.34a3.075 3.075 0 014.161.192 3.1 3.1 0 01-.025 4.403z"
                fill="currentColor"
              ></path>
            </svg>
          </button>
          <span>Duration</span>
          <button class="track__btn">
            <svg height="16" width="16" viewBox="0 0 16 16">
              <path
                d="M2 6.5a1.5 1.5 0 10-.001 2.999A1.5 1.5 0 002 6.5zm6 0a1.5 1.5 0 100 3 1.5 1.5 0 000-3zm6 0a1.5 1.5 0 10-.001 2.999A1.5 1.5 0 0014 6.5z"
                fill="currentColor"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <script src="/js/observers/table-heading.js"></script>
  </body>
</html>
