<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Components - Card Grid (Collapsed)</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/utilities.css" />

    <link rel="stylesheet" href="/stylesheets/button.css" />
    <link rel="stylesheet" href="/stylesheets/card.css" />
    <link rel="stylesheet" href="/stylesheets/card-grid.css" />
  </head>

  <body>
    <div style="padding: 16px 32px;">
      <!-- Card grid with title and see all button -->
      <div class="cg">
        <div class="cg__header">
          <div class="cg__titles">
            <h2 class="heading-base">
              <a href="/">Recently played</a>
            </h2>
          </div>
          <a
            class="cg__see-all capitalized-bold"
            href="/components/card-grid/expanded.html"
            >See all</a
          >
        </div>
        <div class="cg__container cg__container--collapsed">
          <!-- (Artist) Falco -->
          <div class="card">
            <a class="card__link" href="/pages/artist.html"></a>
            <div class="card__content">
              <div class="card__image-wrapper">
                <img
                  class="card__image card__image--round"
                  src="https://i.scdn.co/image/29ba3b5c4870fcb845bfa74bc8f91fc6462759dc"
                />
                <div class="card__button-wrapper">
                  <button class="btn btn--play">
                    <svg height="16" width="16" viewBox="0 0 24 24">
                      <polygon
                        points="21.57 12 5.98 3 5.98 21 21.57 12"
                        fill="currentColor"
                      ></polygon>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="card__title title1 lc-1">Falco</h3>
              <div class="card__subtitle subtitle1 lc-2">
                <span>Artist</span>
              </div>
            </div>
          </div>
          <!-- End (Artist) Falco -->

          <!-- (Album) Minefields - Faouzia, John Legend -->
          <div class="card">
            <a class="card__link" href="/pages/album.html"></a>
            <div class="card__content">
              <div class="card__image-wrapper">
                <img
                  class="card__image"
                  src="https://i.scdn.co/image/ab67616d0000b2737047ba8d605041791305b38b"
                />
                <div class="card__button-wrapper">
                  <button class="btn btn--play">
                    <svg height="16" width="16" viewBox="0 0 24 24">
                      <polygon
                        points="21.57 12 5.98 3 5.98 21 21.57 12"
                        fill="currentColor"
                      ></polygon>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="card__title title1 lc-1">Minefields</h3>
              <div class="card__subtitle subtitle1 lc-2">
                <a href="/artist" class="card__subtitle-link"
                  ><span>Faouzia</span></a
                >,
                <a href="/artist" class="card__subtitle-link"
                  ><span>John Legend</span></a
                >
              </div>
            </div>
          </div>
          <!-- End (Album) Minefields - Faouzia, John Legend -->

          <!-- (Podcast) The Missing Cryptoqueen - BBC Radio -->
          <div class="card">
            <a class="card__link" href="/pages/podcast.html"></a>
            <div class="card__content">
              <div class="card__image-wrapper">
                <img
                  class="card__image card__image--rounded"
                  src="https://i.scdn.co/image/b9f9e946ea8bd1955c57d5d391ff1cc728aa8963"
                />
                <div class="card__button-wrapper">
                  <button class="btn btn--play">
                    <svg height="16" width="16" viewBox="0 0 24 24">
                      <polygon
                        points="21.57 12 5.98 3 5.98 21 21.57 12"
                        fill="currentColor"
                      ></polygon>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="card__title title1 lc-1">The Missing Cryptoqueen</h3>
              <div class="card__subtitle subtitle1 lc-2">
                <span>BBC Radio</span>
              </div>
            </div>
          </div>
          <!-- End (Podcast) The Missing Cryptoqueen - BBC Radio -->

          <!-- (Playlist) Release Radar -->
          <div class="card">
            <a class="card__link" href="/pages/playlist.html"></a>
            <div class="card__content">
              <div class="card__image-wrapper">
                <img
                  class="card__image"
                  src="https://newjams-images.scdn.co/v3/release-radar/33dfeea9cd00ab46a94a078c27e7a2a48fc51645/en/default"
                />
                <div class="card__button-wrapper">
                  <button class="btn btn--play">
                    <svg height="16" width="16" viewBox="0 0 24 24">
                      <polygon
                        points="21.57 12 5.98 3 5.98 21 21.57 12"
                        fill="currentColor"
                      ></polygon>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="card__title title1 lc-1">Release Radar</h3>
              <div class="card__subtitle subtitle1 lc-2">
                <span
                  >Catch all the latest music from artists you follow, plus new
                  singles picked for you. Updates every Friday.</span
                >
              </div>
            </div>
          </div>
          <!-- End (Playlist) Release Radar -->

          <!-- (Artist) Lily Allen -->
          <div class="card">
            <a class="card__link" href="/pages/artist.html"></a>
            <div class="card__content">
              <div class="card__image-wrapper">
                <img
                  class="card__image card__image--round"
                  src="https://i.scdn.co/image/91324a608fbf69ad0507c36a7717b01b20165c4d"
                />
                <div class="card__button-wrapper">
                  <button class="btn btn--play">
                    <svg height="16" width="16" viewBox="0 0 24 24">
                      <polygon
                        points="21.57 12 5.98 3 5.98 21 21.57 12"
                        fill="currentColor"
                      ></polygon>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="card__title title1 lc-1">Lily Allen</h3>
              <div class="card__subtitle subtitle1 lc-2">
                <span>Artist</span>
              </div>
            </div>
          </div>
          <!-- End (Artist) Lily Allen -->

          <!-- (Artist) James Arthur -->
          <div class="card">
            <a class="card__link" href="/pages/artist.html"></a>
            <div class="card__content">
              <div class="card__image-wrapper">
                <img
                  class="card__image card__image--round"
                  src="https://i.scdn.co/image/dd8ceb41c23ec3352cfc19df178e7f243d6182e4"
                />
                <div class="card__button-wrapper">
                  <button class="btn btn--play">
                    <svg height="16" width="16" viewBox="0 0 24 24">
                      <polygon
                        points="21.57 12 5.98 3 5.98 21 21.57 12"
                        fill="currentColor"
                      ></polygon>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="card__title title1 lc-1">James Arthur</h3>
              <div class="card__subtitle subtitle1 lc-2">
                <span>Artist</span>
              </div>
            </div>
          </div>
          <!-- End (Artist) James Artur -->

          <!-- (Artist) G-Eazy -->
          <div class="card">
            <a class="card__link" href="/pages/artist.html"></a>
            <div class="card__content">
              <div class="card__image-wrapper">
                <img
                  class="card__image card__image--round"
                  src="https://i.scdn.co/image/dc5dc72c6406b9460e07c036a1ff7f84cb61abd6"
                />
                <div class="card__button-wrapper">
                  <button class="btn btn--play">
                    <svg height="16" width="16" viewBox="0 0 24 24">
                      <polygon
                        points="21.57 12 5.98 3 5.98 21 21.57 12"
                        fill="currentColor"
                      ></polygon>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="card__title title1 lc-1">G-Eazy</h3>
              <div class="card__subtitle subtitle1 lc-2">
                <span>Artist</span>
              </div>
            </div>
          </div>
          <!-- End (Artist) G-Eazy -->

          <!-- (Album) Lemonade (feat. Gunna, Don Toliver & NAV) - Internet Money, Gunna, Don Toliver -->
          <div class="card">
            <a class="card__link" href="/pages/album.html"></a>
            <div class="card__content">
              <div class="card__image-wrapper">
                <img
                  class="card__image"
                  src="https://i.scdn.co/image/ab67616d0000b273d46a8fffbe6c8630784f04da"
                />
                <div class="card__button-wrapper">
                  <button class="btn btn--play">
                    <svg height="16" width="16" viewBox="0 0 24 24">
                      <polygon
                        points="21.57 12 5.98 3 5.98 21 21.57 12"
                        fill="currentColor"
                      ></polygon>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="card__title title1 lc-1">
                Lemonade (feat. Gunna, Don Toliver & NAV)
              </h3>
              <div class="card__subtitle subtitle1 lc-2">
                <a href="/artist" class="card__subtitle-link"
                  ><span>Internet Money</span></a
                >,
                <a href="/artist" class="card__subtitle-link"
                  ><span>Gunna</span></a
                >,
                <a href="/artist" class="card__subtitle-link"
                  ><span>Don Toliver</span></a
                >
              </div>
            </div>
          </div>
          <!-- End (Album) Lemonade (feat. Gunna, Don Toliver & NAV) - Internet Money, Gunna, Don Toliver -->
        </div>
        <!-- End card container -->
      </div>
      <!-- End Card grid with title and see all button -->

      <hr style="margin: 16px;" />

      <!-- Card grid with title and NO see all button -->
      <div class="cg">
        <div class="cg__header">
          <div class="cg__titles">
            <h2 class="heading-base">Discography</h2>
          </div>
        </div>
        <div class="cg__container cg__container--collapsed">
          <!-- Falco III -->
          <div class="card">
            <a class="card__link" href="/pages/album.html"></a>
            <div class="card__content">
              <div class="card__image-wrapper">
                <img
                  class="card__image"
                  src="https://i.scdn.co/image/ab67616d0000b2739ac5acc402ac5dccdfefa827"
                />
                <div class="card__button-wrapper">
                  <button class="btn btn--play">
                    <svg height="16" width="16" viewBox="0 0 24 24">
                      <polygon
                        points="21.57 12 5.98 3 5.98 21 21.57 12"
                        fill="currentColor"
                      ></polygon>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="card__title title1 lc-1">Falco III</h3>
              <div class="card__subtitle subtitle1 lc-2">
                <span>1985</span><span>Album</span>
              </div>
            </div>
          </div>
          <!-- End Falco III -->

          <!-- Out of The Dark (Into The Light) -->
          <div class="card">
            <a class="card__link" href="/pages/album.html"></a>
            <div class="card__content">
              <div class="card__image-wrapper">
                <img
                  class="card__image"
                  src="https://i.scdn.co/image/ab67616d0000b2731a78668fa55a9a8cdeb22a5e"
                />
                <div class="card__button-wrapper">
                  <button class="btn btn--play">
                    <svg height="16" width="16" viewBox="0 0 24 24">
                      <polygon
                        points="21.57 12 5.98 3 5.98 21 21.57 12"
                        fill="currentColor"
                      ></polygon>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="card__title title1 lc-1">
                Out of The Dark (Into The Light)
              </h3>
              <div class="card__subtitle subtitle1 lc-2">
                <span>1998</span><span>Album</span>
              </div>
            </div>
          </div>

          <!-- End Out of The Dark (Into The Light) -->
        </div>
        <!-- End card container -->
      </div>
      <!-- End Card grid with title and NO see all button -->

      <hr style="margin: 16px;" />

      <!-- Card grid with title, subtitle and see all button -->
      <div class="cg">
        <div class="cg__header">
          <div class="cg__titles">
            <h2 class="heading-base">
              <a href="/">Suggested artists</a>
            </h2>
            <p class="cg__subtitle">Inspired by your recent activity.</p>
          </div>
          <a
            class="cg__see-all capitalized-bold"
            href="/components/card-grid/expanded.html"
            >See all</a
          >
        </div>
        <div class="cg__container cg__container--collapsed">
          <!-- (Artist) Ty Dolla $ign -->
          <div class="card">
            <a class="card__link" href="/pages/artist.html"></a>
            <div class="card__content">
              <div class="card__image-wrapper">
                <img
                  class="card__image card__image--round"
                  src="https://i.scdn.co/image/38c4d40a0baf5c1a31bb5b09ac07a32d5d11d7e0"
                />
                <div class="card__button-wrapper">
                  <button class="btn btn--play">
                    <svg height="16" width="16" viewBox="0 0 24 24">
                      <polygon
                        points="21.57 12 5.98 3 5.98 21 21.57 12"
                        fill="currentColor"
                      ></polygon>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="card__title title1 lc-1">Ty Dolla $ign</h3>
              <div class="card__subtitle subtitle1 lc-2">
                <span>Artist</span>
              </div>
            </div>
          </div>
          <!-- End (Artist) Ty Dolla $ign -->

          <!-- (Artist) Pop Smoke -->
          <div class="card">
            <a class="card__link" href="/pages/artist.html"></a>
            <div class="card__content">
              <div class="card__image-wrapper">
                <img
                  class="card__image card__image--round"
                  src="https://i.scdn.co/image/8f0a45ff4868c7868a7996b57da64f2e89042e26"
                />
                <div class="card__button-wrapper">
                  <button class="btn btn--play">
                    <svg height="16" width="16" viewBox="0 0 24 24">
                      <polygon
                        points="21.57 12 5.98 3 5.98 21 21.57 12"
                        fill="currentColor"
                      ></polygon>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="card__title title1 lc-1">Pop Smoke</h3>
              <div class="card__subtitle subtitle1 lc-2">
                <span>Artist</span>
              </div>
            </div>
          </div>
          <!-- End (Artist) Pop Smoke -->

          <!-- (Artist) Swae Lee -->
          <div class="card">
            <a class="card__link" href="/pages/artist.html"></a>
            <div class="card__content">
              <div class="card__image-wrapper">
                <img
                  class="card__image card__image--round"
                  src="https://i.scdn.co/image/faee4f49e912cfac5d3d8db1aa950182881d71b4"
                />
                <div class="card__button-wrapper">
                  <button class="btn btn--play">
                    <svg height="16" width="16" viewBox="0 0 24 24">
                      <polygon
                        points="21.57 12 5.98 3 5.98 21 21.57 12"
                        fill="currentColor"
                      ></polygon>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="card__title title1 lc-1">Swae Lee</h3>
              <div class="card__subtitle subtitle1 lc-2">
                <span>Artist</span>
              </div>
            </div>
          </div>
          <!-- End (Artist) Swae Lee -->

          <!-- (Artist) PARTYNEXTDOOR -->
          <div class="card">
            <a class="card__link" href="/pages/artist.html"></a>
            <div class="card__content">
              <div class="card__image-wrapper">
                <img
                  class="card__image card__image--round"
                  src="https://i.scdn.co/image/797276c2f8da713f0534e012de4d144f338e1664"
                />
                <div class="card__button-wrapper">
                  <button class="btn btn--play">
                    <svg height="16" width="16" viewBox="0 0 24 24">
                      <polygon
                        points="21.57 12 5.98 3 5.98 21 21.57 12"
                        fill="currentColor"
                      ></polygon>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="card__title title1 lc-1">PARTYNEXTDOOR</h3>
              <div class="card__subtitle subtitle1 lc-2">
                <span>Artist</span>
              </div>
            </div>
          </div>
          <!-- End (Artist) PARTYNEXTDOOR -->

          <!-- (Artist) Khalid -->
          <div class="card">
            <a class="card__link" href="/pages/artist.html"></a>
            <div class="card__content">
              <div class="card__image-wrapper">
                <img
                  class="card__image card__image--round"
                  src="https://i.scdn.co/image/05da6a798c59e8ab7102d77c8deb79d67a1360ed"
                />
                <div class="card__button-wrapper">
                  <button class="btn btn--play">
                    <svg height="16" width="16" viewBox="0 0 24 24">
                      <polygon
                        points="21.57 12 5.98 3 5.98 21 21.57 12"
                        fill="currentColor"
                      ></polygon>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="card__title title1 lc-1">Khalid</h3>
              <div class="card__subtitle subtitle1 lc-2">
                <span>Artist</span>
              </div>
            </div>
          </div>
          <!-- End (Artist) Khalid -->
        </div>
      </div>
      <!-- End Card grid with title, subtitle and see all button -->
    </div>
  </body>
</html>
