<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Components - Card Grid (Expanded)</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/utilities.css" />
    <link rel="stylesheet" href="/stylesheets/button.css" />
    <link rel="stylesheet" href="/stylesheets/card.css" />
    <link rel="stylesheet" href="/stylesheets/card-grid.css" />
  </head>

  <body>
    <div style="padding: 16px 32px;">
      <!-- Card grid expanded -->
      <div class="card-grid">
        <div class="card-grid__header">
          <div class="card-grid__titles">
            <h2 class="card-grid__title">Recently Played</h2>
          </div>
        </div>
        <div class="card-grid__container">
          <!-- (Artist) Falco -->
          <div class="card">
            <a class="card__link" href="/pages/artist.html"></a>
            <div class="card__content">
              <div class="card__image-wrapper">
                <img
                  class="card__image card__image--round"
                  src="https://i.scdn.co/image/29ba3b5c4870fcb845bfa74bc8f91fc6462759dc"
                />
                <div class="card__button-wrapper">
                  <button
                    class="card__button center button--small button--round button--green"
                  >
                    <svg height="16" width="16" viewBox="0 0 24 24">
                      <polygon
                        points="21.57 12 5.98 3 5.98 21 21.57 12"
                        fill="currentColor"
                      ></polygon>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="card__title">Falco</h3>
              <div class="card__subtitle">
                <span>Artist</span>
              </div>
            </div>
          </div>
          <!-- End (Artist) Falco -->

          <!-- (Album) Minefields - Faouzia, John Legend -->
          <div class="card">
            <a class="card__link" href="/pages/album.html"></a>
            <div class="card__content">
              <div class="card__image-wrapper">
                <img
                  class="card__image"
                  src="https://i.scdn.co/image/ab67616d0000b2737047ba8d605041791305b38b"
                />
                <div class="card__button-wrapper">
                  <button
                    class="card__button center button--small button--round button--green"
                  >
                    <svg height="16" width="16" viewBox="0 0 24 24">
                      <polygon
                        points="21.57 12 5.98 3 5.98 21 21.57 12"
                        fill="currentColor"
                      ></polygon>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="card__title">Minefields</h3>
              <div class="card__subtitle">
                <a href="/artist" class="card__subtitle-link">Faouzia</a>,
                <a href="/artist" class="card__subtitle-link">John Legend</a>
              </div>
            </div>
          </div>
          <!-- End (Album) Minefields - Faouzia, John Legend -->

          <!-- (Podcast) The Missing Cryptoqueen - BBC Radio -->
          <div class="card">
            <a class="card__link" href="/pages/podcast.html"></a>
            <div class="card__content">
              <div class="card__image-wrapper">
                <img
                  class="card__image card__image--rounded"
                  src="https://i.scdn.co/image/b9f9e946ea8bd1955c57d5d391ff1cc728aa8963"
                />
                <div class="card__button-wrapper">
                  <button
                    class="card__button center button--small button--round button--green"
                  >
                    <svg height="16" width="16" viewBox="0 0 24 24">
                      <polygon
                        points="21.57 12 5.98 3 5.98 21 21.57 12"
                        fill="currentColor"
                      ></polygon>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="card__title">The Missing Cryptoqueen</h3>
              <div class="card__subtitle">
                <span>BBC Radio</span>
              </div>
            </div>
          </div>
          <!-- End (Podcast) The Missing Cryptoqueen - BBC Radio -->

          <!-- (Playlist) Release Radar -->
          <div class="card">
            <a class="card__link" href="/pages/playlist.html"></a>
            <div class="card__content">
              <div class="card__image-wrapper">
                <img
                  class="card__image"
                  src="https://newjams-images.scdn.co/v3/release-radar/33dfeea9cd00ab46a94a078c27e7a2a48fc51645/en/default"
                />
                <div class="card__button-wrapper">
                  <button
                    class="card__button center button--small button--round button--green"
                  >
                    <svg height="16" width="16" viewBox="0 0 24 24">
                      <polygon
                        points="21.57 12 5.98 3 5.98 21 21.57 12"
                        fill="currentColor"
                      ></polygon>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="card__title">Release Radar</h3>
              <div class="card__subtitle">
                <span
                  >Catch all the latest music from artists you follow, plus new
                  singles picked for you. Updates every Friday.</span
                >
              </div>
            </div>
          </div>
          <!-- End (Playlist) Release Radar -->

          <!-- (Artist) Lily Allen -->
          <div class="card">
            <a class="card__link" href="/pages/artist.html"></a>
            <div class="card__content">
              <div class="card__image-wrapper">
                <img
                  class="card__image card__image--round"
                  src="https://i.scdn.co/image/91324a608fbf69ad0507c36a7717b01b20165c4d"
                />
                <div class="card__button-wrapper">
                  <button
                    class="card__button center button--small button--round button--green"
                  >
                    <svg height="16" width="16" viewBox="0 0 24 24">
                      <polygon
                        points="21.57 12 5.98 3 5.98 21 21.57 12"
                        fill="currentColor"
                      ></polygon>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="card__title">Lily Allen</h3>
              <div class="card__subtitle">
                <span>Artist</span>
              </div>
            </div>
          </div>
          <!-- End (Artist) Lily Allen -->

          <!-- (Artist) James Arthur -->
          <div class="card">
            <a class="card__link" href="/pages/artist.html"></a>
            <div class="card__content">
              <div class="card__image-wrapper">
                <img
                  class="card__image card__image--round"
                  src="https://i.scdn.co/image/dd8ceb41c23ec3352cfc19df178e7f243d6182e4"
                />
                <div class="card__button-wrapper">
                  <button
                    class="card__button center button--small button--round button--green"
                  >
                    <svg height="16" width="16" viewBox="0 0 24 24">
                      <polygon
                        points="21.57 12 5.98 3 5.98 21 21.57 12"
                        fill="currentColor"
                      ></polygon>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="card__title">James Arthur</h3>
              <div class="card__subtitle">
                <span>Artist</span>
              </div>
            </div>
          </div>
          <!-- End (Artist) James Artur -->

          <!-- (Artist) G-Eazy -->
          <div class="card">
            <a class="card__link" href="/pages/artist.html"></a>
            <div class="card__content">
              <div class="card__image-wrapper">
                <img
                  class="card__image card__image--round"
                  src="https://i.scdn.co/image/dc5dc72c6406b9460e07c036a1ff7f84cb61abd6"
                />
                <div class="card__button-wrapper">
                  <button
                    class="card__button center button--small button--round button--green"
                  >
                    <svg height="16" width="16" viewBox="0 0 24 24">
                      <polygon
                        points="21.57 12 5.98 3 5.98 21 21.57 12"
                        fill="currentColor"
                      ></polygon>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="card__title">G-Eazy</h3>
              <div class="card__subtitle">
                <span>Artist</span>
              </div>
            </div>
          </div>
          <!-- End (Artist) G-Eazy -->

          <!-- (Album) Lemonade (feat. Gunna, Don Toliver & NAV) - Internet Money, Gunna, Don Toliver -->
          <div class="card">
            <a class="card__link" href="/pages/album.html"></a>
            <div class="card__content">
              <div class="card__image-wrapper">
                <img
                  class="card__image"
                  src="https://i.scdn.co/image/ab67616d0000b273d46a8fffbe6c8630784f04da"
                />
                <div class="card__button-wrapper">
                  <button
                    class="card__button center button--small button--round button--green"
                  >
                    <svg height="16" width="16" viewBox="0 0 24 24">
                      <polygon
                        points="21.57 12 5.98 3 5.98 21 21.57 12"
                        fill="currentColor"
                      ></polygon>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="card__title">
                Lemonade (feat. Gunna, Don Toliver & NAV)
              </h3>
              <div class="card__subtitle">
                <a href="/artist" class="card__subtitle-link">Internet Money</a
                >, <a href="/artist" class="card__subtitle-link">Gunna</a>,
                <a href="/artist" class="card__subtitle-link">Don Toliver</a>
              </div>
            </div>
          </div>
          <!-- End (Album) Lemonade (feat. Gunna, Don Toliver & NAV) - Internet Money, Gunna, Don Toliver -->

          <!-- (Artist) Falco -->
          <div class="card">
            <a class="card__link" href="/pages/artist.html"></a>
            <div class="card__content">
              <div class="card__image-wrapper">
                <img
                  class="card__image card__image--round"
                  src="https://i.scdn.co/image/29ba3b5c4870fcb845bfa74bc8f91fc6462759dc"
                />
                <div class="card__button-wrapper">
                  <button
                    class="card__button center button--small button--round button--green"
                  >
                    <svg height="16" width="16" viewBox="0 0 24 24">
                      <polygon
                        points="21.57 12 5.98 3 5.98 21 21.57 12"
                        fill="currentColor"
                      ></polygon>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="card__title">Falco</h3>
              <div class="card__subtitle">
                <span>Artist</span>
              </div>
            </div>
          </div>
          <!-- End (Artist) Falco -->

          <!-- (Album) Minefields - Faouzia, John Legend -->
          <div class="card">
            <a class="card__link" href="/pages/album.html"></a>
            <div class="card__content">
              <div class="card__image-wrapper">
                <img
                  class="card__image"
                  src="https://i.scdn.co/image/ab67616d0000b2737047ba8d605041791305b38b"
                />
                <div class="card__button-wrapper">
                  <button
                    class="card__button center button--small button--round button--green"
                  >
                    <svg height="16" width="16" viewBox="0 0 24 24">
                      <polygon
                        points="21.57 12 5.98 3 5.98 21 21.57 12"
                        fill="currentColor"
                      ></polygon>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="card__title">Minefields</h3>
              <div class="card__subtitle">
                <a href="/artist" class="card__subtitle-link">Faouzia</a>,
                <a href="/artist" class="card__subtitle-link">John Legend</a>
              </div>
            </div>
          </div>
          <!-- End (Album) Minefields - Faouzia, John Legend -->

          <!-- (Podcast) The Missing Cryptoqueen - BBC Radio -->
          <div class="card">
            <a class="card__link" href="/pages/podcast.html"></a>
            <div class="card__content">
              <div class="card__image-wrapper">
                <img
                  class="card__image card__image--rounded"
                  src="https://i.scdn.co/image/b9f9e946ea8bd1955c57d5d391ff1cc728aa8963"
                />
                <div class="card__button-wrapper">
                  <button
                    class="card__button center button--small button--round button--green"
                  >
                    <svg height="16" width="16" viewBox="0 0 24 24">
                      <polygon
                        points="21.57 12 5.98 3 5.98 21 21.57 12"
                        fill="currentColor"
                      ></polygon>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="card__title">The Missing Cryptoqueen</h3>
              <div class="card__subtitle">
                <span>BBC Radio</span>
              </div>
            </div>
          </div>
          <!-- End (Podcast) The Missing Cryptoqueen - BBC Radio -->

          <!-- (Playlist) Release Radar -->
          <div class="card">
            <a class="card__link" href="/pages/playlist.html"></a>
            <div class="card__content">
              <div class="card__image-wrapper">
                <img
                  class="card__image"
                  src="https://newjams-images.scdn.co/v3/release-radar/33dfeea9cd00ab46a94a078c27e7a2a48fc51645/en/default"
                />
                <div class="card__button-wrapper">
                  <button
                    class="card__button center button--small button--round button--green"
                  >
                    <svg height="16" width="16" viewBox="0 0 24 24">
                      <polygon
                        points="21.57 12 5.98 3 5.98 21 21.57 12"
                        fill="currentColor"
                      ></polygon>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="card__title">Release Radar</h3>
              <div class="card__subtitle">
                <span
                  >Catch all the latest music from artists you follow, plus new
                  singles picked for you. Updates every Friday.</span
                >
              </div>
            </div>
          </div>
          <!-- End (Playlist) Release Radar -->

          <!-- (Artist) Lily Allen -->
          <div class="card">
            <a class="card__link" href="/pages/artist.html"></a>
            <div class="card__content">
              <div class="card__image-wrapper">
                <img
                  class="card__image card__image--round"
                  src="https://i.scdn.co/image/91324a608fbf69ad0507c36a7717b01b20165c4d"
                />
                <div class="card__button-wrapper">
                  <button
                    class="card__button center button--small button--round button--green"
                  >
                    <svg height="16" width="16" viewBox="0 0 24 24">
                      <polygon
                        points="21.57 12 5.98 3 5.98 21 21.57 12"
                        fill="currentColor"
                      ></polygon>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="card__title">Lily Allen</h3>
              <div class="card__subtitle">
                <span>Artist</span>
              </div>
            </div>
          </div>
          <!-- End (Artist) Lily Allen -->

          <!-- (Artist) James Arthur -->
          <div class="card">
            <a class="card__link" href="/pages/artist.html"></a>
            <div class="card__content">
              <div class="card__image-wrapper">
                <img
                  class="card__image card__image--round"
                  src="https://i.scdn.co/image/dd8ceb41c23ec3352cfc19df178e7f243d6182e4"
                />
                <div class="card__button-wrapper">
                  <button
                    class="card__button center button--small button--round button--green"
                  >
                    <svg height="16" width="16" viewBox="0 0 24 24">
                      <polygon
                        points="21.57 12 5.98 3 5.98 21 21.57 12"
                        fill="currentColor"
                      ></polygon>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="card__title">James Arthur</h3>
              <div class="card__subtitle">
                <span>Artist</span>
              </div>
            </div>
          </div>
          <!-- End (Artist) James Artur -->

          <!-- (Artist) G-Eazy -->
          <div class="card">
            <a class="card__link" href="/pages/artist.html"></a>
            <div class="card__content">
              <div class="card__image-wrapper">
                <img
                  class="card__image card__image--round"
                  src="https://i.scdn.co/image/dc5dc72c6406b9460e07c036a1ff7f84cb61abd6"
                />
                <div class="card__button-wrapper">
                  <button
                    class="card__button center button--small button--round button--green"
                  >
                    <svg height="16" width="16" viewBox="0 0 24 24">
                      <polygon
                        points="21.57 12 5.98 3 5.98 21 21.57 12"
                        fill="currentColor"
                      ></polygon>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="card__title">G-Eazy</h3>
              <div class="card__subtitle">
                <span>Artist</span>
              </div>
            </div>
          </div>
          <!-- End (Artist) G-Eazy -->

          <!-- (Album) Lemonade (feat. Gunna, Don Toliver & NAV) - Internet Money, Gunna, Don Toliver -->
          <div class="card">
            <a class="card__link" href="/pages/album.html"></a>
            <div class="card__content">
              <div class="card__image-wrapper">
                <img
                  class="card__image"
                  src="https://i.scdn.co/image/ab67616d0000b273d46a8fffbe6c8630784f04da"
                />
                <div class="card__button-wrapper">
                  <button
                    class="card__button center button--small button--round button--green"
                  >
                    <svg height="16" width="16" viewBox="0 0 24 24">
                      <polygon
                        points="21.57 12 5.98 3 5.98 21 21.57 12"
                        fill="currentColor"
                      ></polygon>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="card__title">
                Lemonade (feat. Gunna, Don Toliver & NAV)
              </h3>
              <div class="card__subtitle">
                <a href="/artist" class="card__subtitle-link">Internet Money</a
                >, <a href="/artist" class="card__subtitle-link">Gunna</a>,
                <a href="/artist" class="card__subtitle-link">Don Toliver</a>
              </div>
            </div>
          </div>
          <!-- End (Album) Lemonade (feat. Gunna, Don Toliver & NAV) - Internet Money, Gunna, Don Toliver -->

          <!-- (Artist) Falco -->
          <div class="card">
            <a class="card__link" href="/pages/artist.html"></a>
            <div class="card__content">
              <div class="card__image-wrapper">
                <img
                  class="card__image card__image--round"
                  src="https://i.scdn.co/image/29ba3b5c4870fcb845bfa74bc8f91fc6462759dc"
                />
                <div class="card__button-wrapper">
                  <button
                    class="card__button center button--small button--round button--green"
                  >
                    <svg height="16" width="16" viewBox="0 0 24 24">
                      <polygon
                        points="21.57 12 5.98 3 5.98 21 21.57 12"
                        fill="currentColor"
                      ></polygon>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="card__title">Falco</h3>
              <div class="card__subtitle">
                <span>Artist</span>
              </div>
            </div>
          </div>
          <!-- End (Artist) Falco -->

          <!-- (Album) Minefields - Faouzia, John Legend -->
          <div class="card">
            <a class="card__link" href="/pages/album.html"></a>
            <div class="card__content">
              <div class="card__image-wrapper">
                <img
                  class="card__image"
                  src="https://i.scdn.co/image/ab67616d0000b2737047ba8d605041791305b38b"
                />
                <div class="card__button-wrapper">
                  <button
                    class="card__button center button--small button--round button--green"
                  >
                    <svg height="16" width="16" viewBox="0 0 24 24">
                      <polygon
                        points="21.57 12 5.98 3 5.98 21 21.57 12"
                        fill="currentColor"
                      ></polygon>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="card__title">Minefields</h3>
              <div class="card__subtitle">
                <a href="/artist" class="card__subtitle-link">Faouzia</a>,
                <a href="/artist" class="card__subtitle-link">John Legend</a>
              </div>
            </div>
          </div>
          <!-- End (Album) Minefields - Faouzia, John Legend -->

          <!-- (Podcast) The Missing Cryptoqueen - BBC Radio -->
          <div class="card">
            <a class="card__link" href="/pages/podcast.html"></a>
            <div class="card__content">
              <div class="card__image-wrapper">
                <img
                  class="card__image card__image--rounded"
                  src="https://i.scdn.co/image/b9f9e946ea8bd1955c57d5d391ff1cc728aa8963"
                />
                <div class="card__button-wrapper">
                  <button
                    class="card__button center button--small button--round button--green"
                  >
                    <svg height="16" width="16" viewBox="0 0 24 24">
                      <polygon
                        points="21.57 12 5.98 3 5.98 21 21.57 12"
                        fill="currentColor"
                      ></polygon>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="card__title">The Missing Cryptoqueen</h3>
              <div class="card__subtitle">
                <span>BBC Radio</span>
              </div>
            </div>
          </div>
          <!-- End (Podcast) The Missing Cryptoqueen - BBC Radio -->

          <!-- (Playlist) Release Radar -->
          <div class="card">
            <a class="card__link" href="/pages/playlist.html"></a>
            <div class="card__content">
              <div class="card__image-wrapper">
                <img
                  class="card__image"
                  src="https://newjams-images.scdn.co/v3/release-radar/33dfeea9cd00ab46a94a078c27e7a2a48fc51645/en/default"
                />
                <div class="card__button-wrapper">
                  <button
                    class="card__button center button--small button--round button--green"
                  >
                    <svg height="16" width="16" viewBox="0 0 24 24">
                      <polygon
                        points="21.57 12 5.98 3 5.98 21 21.57 12"
                        fill="currentColor"
                      ></polygon>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="card__title">Release Radar</h3>
              <div class="card__subtitle">
                <span
                  >Catch all the latest music from artists you follow, plus new
                  singles picked for you. Updates every Friday.</span
                >
              </div>
            </div>
          </div>
          <!-- End (Playlist) Release Radar -->

          <!-- (Artist) Lily Allen -->
          <div class="card">
            <a class="card__link" href="/pages/artist.html"></a>
            <div class="card__content">
              <div class="card__image-wrapper">
                <img
                  class="card__image card__image--round"
                  src="https://i.scdn.co/image/91324a608fbf69ad0507c36a7717b01b20165c4d"
                />
                <div class="card__button-wrapper">
                  <button
                    class="card__button center button--small button--round button--green"
                  >
                    <svg height="16" width="16" viewBox="0 0 24 24">
                      <polygon
                        points="21.57 12 5.98 3 5.98 21 21.57 12"
                        fill="currentColor"
                      ></polygon>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="card__title">Lily Allen</h3>
              <div class="card__subtitle">
                <span>Artist</span>
              </div>
            </div>
          </div>
          <!-- End (Artist) Lily Allen -->

          <!-- (Artist) James Arthur -->
          <div class="card">
            <a class="card__link" href="/pages/artist.html"></a>
            <div class="card__content">
              <div class="card__image-wrapper">
                <img
                  class="card__image card__image--round"
                  src="https://i.scdn.co/image/dd8ceb41c23ec3352cfc19df178e7f243d6182e4"
                />
                <div class="card__button-wrapper">
                  <button
                    class="card__button center button--small button--round button--green"
                  >
                    <svg height="16" width="16" viewBox="0 0 24 24">
                      <polygon
                        points="21.57 12 5.98 3 5.98 21 21.57 12"
                        fill="currentColor"
                      ></polygon>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="card__title">James Arthur</h3>
              <div class="card__subtitle">
                <span>Artist</span>
              </div>
            </div>
          </div>
          <!-- End (Artist) James Artur -->

          <!-- (Artist) G-Eazy -->
          <div class="card">
            <a class="card__link" href="/pages/artist.html"></a>
            <div class="card__content">
              <div class="card__image-wrapper">
                <img
                  class="card__image card__image--round"
                  src="https://i.scdn.co/image/dc5dc72c6406b9460e07c036a1ff7f84cb61abd6"
                />
                <div class="card__button-wrapper">
                  <button
                    class="card__button center button--small button--round button--green"
                  >
                    <svg height="16" width="16" viewBox="0 0 24 24">
                      <polygon
                        points="21.57 12 5.98 3 5.98 21 21.57 12"
                        fill="currentColor"
                      ></polygon>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="card__title">G-Eazy</h3>
              <div class="card__subtitle">
                <span>Artist</span>
              </div>
            </div>
          </div>
          <!-- End (Artist) G-Eazy -->

          <!-- (Album) Lemonade (feat. Gunna, Don Toliver & NAV) - Internet Money, Gunna, Don Toliver -->
          <div class="card">
            <a class="card__link" href="/pages/album.html"></a>
            <div class="card__content">
              <div class="card__image-wrapper">
                <img
                  class="card__image"
                  src="https://i.scdn.co/image/ab67616d0000b273d46a8fffbe6c8630784f04da"
                />
                <div class="card__button-wrapper">
                  <button
                    class="card__button center button--small button--round button--green"
                  >
                    <svg height="16" width="16" viewBox="0 0 24 24">
                      <polygon
                        points="21.57 12 5.98 3 5.98 21 21.57 12"
                        fill="currentColor"
                      ></polygon>
                    </svg>
                  </button>
                </div>
              </div>
              <h3 class="card__title">
                Lemonade (feat. Gunna, Don Toliver & NAV)
              </h3>
              <div class="card__subtitle">
                <a href="/artist" class="card__subtitle-link">Internet Money</a
                >, <a href="/artist" class="card__subtitle-link">Gunna</a>,
                <a href="/artist" class="card__subtitle-link">Don Toliver</a>
              </div>
            </div>
          </div>
          <!-- End (Album) Lemonade (feat. Gunna, Don Toliver & NAV) - Internet Money, Gunna, Don Toliver -->
        </div>
        <!-- End card container -->
      </div>
      <!-- End Card grid expanded -->
    </div>
  </body>
</html>
