.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Follow, Following buttons */
.btn--rounded {
  border: 1px solid hsla(0, 0%, 100%, 0.3);
  border-radius: 4px;
  padding: 7px 15px;
}

.btn--rounded:hover,
.btn--rounded-active {
  border-color: #fff;
}

.btn--play {
  border: 0;
  border-radius: 50%;
  color: #fff;
  background-color: #1db954;
  height: 40px;
  width: 40px;
}

.btn--play:hover {
  transform: scale(1.06);
}

.btn--like {
  color: #fff;
}

.btn--like-active {
  color: #1db954;
}

/* Colors */
.btn--grey {
  color: hsla(0, 0%, 100%, 0.6);
}

.btn--grey:hover {
  color: hsla(0, 0%, 100%, 1);
}

/* Sizes */
.btn--sm {
  height: 48px;
  width: 48px;
}

.btn--md {
  height: 56px;
  width: 56px;
}

.btn--lg {
  height: 64px;
  width: 64px;
}