.card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 4px;
  background-color: #181818;
  cursor: pointer;
}

.card:hover {
  background-color: #282828;
}

.card-image {
  margin-bottom: 16px;
  position: relative;
  width: 100%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}

.card-image img {
  display: block;
  width: 100%;
}

.card-image-round {
  border-radius: 50%;
}

.round-button {
  /* TODO: remove opacity: 0.7 globally on all buttons */
  opacity: 1;

  border: 0;
  border-radius: 500px;
  color: #fff;
  background-color: #1db954;
  height: 40px;
  width: 40px;
}

.round-button:hover {
  transform: scale(1.06);
}

.card-play-button {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transform: translateY(8px);
  transition-property: transform, opacity;
  transition-duration: 0.3s;
}

.card:hover .card-play-button {
  opacity: 1;
  transform: translateY(0px);
}

.card a {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
}

.card-subtitle {
  display: flex;
  letter-spacing: normal;
}

.bullet-separator::before {
  content: "•";
  margin: 0 4px;
}
