.card-liked-songs {
  background: linear-gradient(149.46deg, #450af5, #8e8ee5 99.16%);
  grid-column: span 2;
}

.card-liked-songs-list {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #fff;
}

.card-liked-songs-list-song {
  opacity: 0.7;
}

.card-liked-songs-list-song:not(:last-child)::after {
  content: " •";
}

.card-liked-songs-details {
  display: flex;
  align-items: flex-end;
}

.card-liked-songs-titles {
  flex: 1;
}

.card-liked-songs-title {
  font-size: 32px;
}

.card-liked-songs-subtitle {
  font-size: 16px;
  color: #fff;
}

.card-liked-songs-button {
  /* TODO: remove once buttons are fixed */
  opacity: 1;

  border: 0;
  border-radius: 500px;
  color: #fff;
  background-color: #1db954;
  height: 48px;
  width: 48px;

  /* position: absolute;
  bottom: 8px;
  right: 8px; */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
}

.card-liked-songs-button:hover {
  transform: scale(1.06);
}
