.cg {
  /* currently unused */
}

.cg__header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 16px;
}

.cg__titles {
  flex: 1;
}

.cg__subtitle {
  margin-top: 4px;
}

.cg__see-all {
  color: var(--light-grey);
}

.cg__see-all:hover {
  text-decoration: underline;
}

.cg__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 24px;
}

.cg__container--collapsed {
  column-gap: 24px;
  row-gap: 0px;
  grid-template-rows: 1fr;
  grid-auto-rows: 0;
  overflow-y: hidden;
}
