.header {
  height: 30vh;
  min-height: 340px;
  max-height: 500px;
  position: relative;
  top: -60px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: end;
  padding: 0 32px 24px 32px;
  box-sizing: border-box;
}

.header--small {
  /* height: 30vh; */
  min-height: 250px;
  max-height: 400px;
}

.header__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.header__background--gradient {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
}

.header__content {
  z-index: 0;
  width: 100%;
  display: flex;
}

.header__img-wrapper {
  width: 232px;
  height: 232px;
  margin-right: 24px;

  background-color: var(--dark-grey);
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__img-wrapper--rounded {
  border-radius: 16px;
}

.header__img-wrapper--round {
  border-radius: 50%;
}

.header__img {
  width: 100%;
  height: 100%;
}

.header__img--rounded {
  border-radius: 16px;
}

.header__img--round {
  border-radius: 50%;
}

.header__img-wrapper svg {
  width: 64px;
  height: 64px;
  /* TODO: create colors.css */
  color: #7f7f7f;
}

.header__details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.header__type {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.015em;
}

.header__title {
  font-size: 96px;
  line-height: 96px;
  font-weight: 900;
  padding: 4px 0px 8px 0px;
}

.header__subtitle {
  color: hsla(0, 0%, 100%, 0.7);
}

.header__additional-info {
  margin-top: 8px;
  color: hsla(0, 0%, 100%, 0.7);
  display: flex;
  align-items: center;
}

.header__additional-info span:not(:first-child)::before {
  content: " • ";
  white-space: pre;
}

.header__listeners {
  color: #fff;
  font-size: 16px;
}

.header__thumbnail {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 4px;
}

.header__link {
  font-weight: 700;
}

.header__link:hover {
  text-decoration: underline;
}
