.nav-bar {
  grid-area: nav-bar;
  background-color: rgba(0, 0, 0, 0.8);
  width: 232px;

  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

/* Spotify Logo */
.nav-bar__logo-wrapper {
  display: block;
  margin-top: 24px;
  margin-bottom: 18px;
  padding-left: 24px;
}

.nav-bar__logo {
  width: 131px;
  height: 41px;
}

/* Navigation section */
.nav-bar__items {
  padding: 0px 8px;
  margin-bottom: 24px;
}

.nav-bar__link {
  padding: 8px 16px;
  color: #b3b3b3;
  /* center vertically */
  display: flex;
  align-items: center;
}

.nav-bar__link:hover {
  color: #fff;
}

.nav-bar__link--active {
  background-color: #282828;
  color: #fff;
  border-radius: 4px;
}

.nav-bar__link--active .nav-bar__link-icon > path:nth-child(1) {
  display: inline;
}

.nav-bar__link--active .nav-bar__link-icon > path:nth-child(2) {
  display: none;
}

.nav-bar__link-icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.nav-bar__link-icon > path:nth-child(1) {
  display: none;
}

/* Playlists section */
.nav-bar__playlists {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.nav-bar__playlists-title {
  color: #b3b3b3;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0px 24px 12px 24px;
}

.nav-bar__playlists-link {
  /* center vertically */
  display: flex;
  align-items: center;
  color: #fff;
  padding: 5px 24px;

  opacity: 0.7;
  transition-property: opacity;
  transition-duration: 200ms;
  transition-timing-function: linear;
}

.nav-bar__playlists-link:hover {
  opacity: 1;
}

.nav-bar__playlists-icon-wrapper {
  width: 32px;
  height: 32px;
  /* use padding to reduce size of plus icon */
  padding: 4px;
  margin-right: 16px;
  /* center svg vertically and horizontally */
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar__separator {
  height: 1px;
  margin: 8px 24px;
  border: none;
  background-color: #282828;
}

.nav-bar__user-playlists {
  padding: 4px 24px;
  overflow-y: auto;
}

.nav-bar__user-playlist {
  cursor: default;
  color: #b3b3b3;
  line-height: 32px;
}

.nav-bar__user-playlist:hover {
  color: #fff;
}
