/* RESET */
/* based off Tailwind - preflight */
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* end preflight */

* {
  box-sizing: border-box;
}

/* https://stackoverflow.com/a/42421490/4658957 */
input {
  min-width: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

button {
  padding: 0;
  border: 0;
  background: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
/* End RESET */

/* FONTS */
@font-face {
  font-family: spotify-circular;
  src: url(https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Book.3466e0ec.woff2)
      format("woff2"),
    url(https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Book.ea8d19db.woff)
      format("woff"),
    url(https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Book.a357677a.ttf)
      format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: spotify-circular;
  src: url(https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Bold.8d0a45cc.woff2)
      format("woff2"),
    url(https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Bold.10e93738.woff)
      format("woff"),
    url(https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Bold.7eb7d0f7.ttf)
      format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: spotify-circular;
  src: url(https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Black.c21e63c5.woff2)
      format("woff2"),
    url(https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Black.effa986f.woff)
      format("woff"),
    url(https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Black.ce8ef887.ttf)
      format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
/* End FONTS */

/* COLORS TODO */
:root {
  --left-sidebar-padding-left: 24px;
  --left-sidebar-padding-right: 24px;
  --black: #121212;
  --light-grey: #b3b3b3;
  --dark-grey: #282828;
}
/* End Colors */

/* TYPOGRAPHY */
.heading-2xl {
  font-size: 96px;
  font-weight: 900;
  line-height: 96px;
  letter-spacing: -0.04em;
  color: #fff;
}

.heading-xl {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3em;
  letter-spacing: -0.04em;
  color: #fff;
}

.heading-lg {
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.04em;
  color: #fff;
}

.heading-base {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.04em;
  color: #fff;
}

.heading-sm {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.015em;
  color: #fff;
}

.title1 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: normal;
  color: #fff;
}

.title2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: normal;
  color: #fff;
}

.subtitle1 {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: normal;
  color: #b3b3b3;
}

.subtitle2 {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: normal;
  color: #b3b3b3;
}

.capitalized {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}

.capitalized-bold {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}
/* End TYPOGRAPHY */

html {
  height: 100vh;
  background-color: var(--black);
}

body,
#root {
  height: 100%;
  margin: 0px;
}

body {
  font-family: "spotify-circular";
  /* font-size: 14px;
  letter-spacing: 0.015em;
  color: var(--light-grey);
  line-height: 20px; */
}

/* h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.04em;
  color: #fff;
}

h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: normal;
  color: #fff;
}

span {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: normal;
  color: #b3b3b3;
}

span.bold {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: normal;
  color: #b3b3b3;
} */

/* LAYOUT */
.container {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "nav-bar main-view buddy-feed"
    "player player player";
}

.main-view {
  position: relative;
  background-color: var(--black);
  grid-area: main-view;
  overflow-y: auto;
}

.positioning-reference {
  position: relative;
  width: 100%;
  height: 0;
}

.spacer {
  position: sticky;
  top: 0;
  height: 60px;
}

.content {
  padding: 0px 32px 32px 32px;
}

.content--padding-top {
  padding: 16px 32px 32px 32px;
}

.content--below-header {
  /* needed to position background in header */
  position: relative;
  z-index: 1;
}

.content__background {
  height: 232px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), #121212);
  position: absolute;
  top: 0;
  width: 100%;
  /* margin: 0px -32px; */
}

.recently-played {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 24px;
}
/* END LAYOUT */
