.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-x {
  display: flex;
  justify-content: center;
}

.center-y {
  display: flex;
  align-items: center;
}

/* .text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
} */

.lc-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
}

.lc-2 {  
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

/* .line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
} */
