/* TODO: not currently used */
.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
