/* TODO: add */
:root {
  --left-sidebar-padding-left: 24px;
  --left-sidebar-padding-right: 24px;
  --black: #121212;
  --light-grey: #b3b3b3;
  --dark-grey: #282828;

  /* Card */
  /* #181818 */
  /* #282828 */
}
